---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ansible-secrets-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ansible-secrets-operator
  template:
    metadata:
      labels:
        name: ansible-secrets-operator
    spec:
      serviceAccountName: ansible-secrets-operator
      containers:
        - name: ansible-secrets-operator
          # Replace this with the built image name
          image: "{{ image }}"
          imagePullPolicy: "{{ pull_policy }}"
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ansible-secrets-operator"
            - name: ANSIBLE_GATHERING
              value: explicit
          livenessProbe:
            httpGet:
              path: /healthz
              port: 6789
            initialDelaySeconds: 5
            periodSeconds: 3

      volumes:
        - name: runner
          emptyDir: {}
